Zero.Web.Manage/Service References/ServiceReference1/shoesnet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetBrandList">
        <s:complexType />
      </s:element>
      <s:element name="GetBrandListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBrandListResult" type="tns:ArrayOfBrand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBrand">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Brand" nillable="true" type="tns:Brand" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Brand">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BrandId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BrandName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnBrandName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ShoesNetSoapHeader" type="tns:ShoesNetSoapHeader" />
      <s:complexType name="ShoesNetSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetProductCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="brandName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetProductCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="brandName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pagesize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="page" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductListResult" type="tns:ArrayOfProductInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProductInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductInfo" nillable="true" type="tns:ProductInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="colorid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ColorID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MarketPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Photo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Photo2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductIntro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DetailUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Visits" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PhotoList" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProductInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="colorId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductInfoResult" type="tns:ProductInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBrandListSoapIn">
    <wsdl:part name="parameters" element="tns:GetBrandList" />
  </wsdl:message>
  <wsdl:message name="GetBrandListSoapOut">
    <wsdl:part name="parameters" element="tns:GetBrandListResponse" />
  </wsdl:message>
  <wsdl:message name="GetBrandListShoesNetSoapHeader">
    <wsdl:part name="ShoesNetSoapHeader" element="tns:ShoesNetSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetProductCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductCount" />
  </wsdl:message>
  <wsdl:message name="GetProductCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductCountShoesNetSoapHeader">
    <wsdl:part name="ShoesNetSoapHeader" element="tns:ShoesNetSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetProductListSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductList" />
  </wsdl:message>
  <wsdl:message name="GetProductListSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductListResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductListShoesNetSoapHeader">
    <wsdl:part name="ShoesNetSoapHeader" element="tns:ShoesNetSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetProductInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductInfo" />
  </wsdl:message>
  <wsdl:message name="GetProductInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductInfoShoesNetSoapHeader">
    <wsdl:part name="ShoesNetSoapHeader" element="tns:ShoesNetSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="ShoesNetSoap">
    <wsdl:operation name="GetBrandList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得品牌列表</wsdl:documentation>
      <wsdl:input message="tns:GetBrandListSoapIn" />
      <wsdl:output message="tns:GetBrandListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得商品总数</wsdl:documentation>
      <wsdl:input message="tns:GetProductCountSoapIn" />
      <wsdl:output message="tns:GetProductCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得商品列表</wsdl:documentation>
      <wsdl:input message="tns:GetProductListSoapIn" />
      <wsdl:output message="tns:GetProductListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据产品ID获取产品信息</wsdl:documentation>
      <wsdl:input message="tns:GetProductInfoSoapIn" />
      <wsdl:output message="tns:GetProductInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShoesNetSoap" type="tns:ShoesNetSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBrandList">
      <soap:operation soapAction="http://tempuri.org/GetBrandList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetBrandListShoesNetSoapHeader" part="ShoesNetSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCount">
      <soap:operation soapAction="http://tempuri.org/GetProductCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProductCountShoesNetSoapHeader" part="ShoesNetSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductList">
      <soap:operation soapAction="http://tempuri.org/GetProductList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProductListShoesNetSoapHeader" part="ShoesNetSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductInfo">
      <soap:operation soapAction="http://tempuri.org/GetProductInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProductInfoShoesNetSoapHeader" part="ShoesNetSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ShoesNetSoap12" type="tns:ShoesNetSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBrandList">
      <soap12:operation soapAction="http://tempuri.org/GetBrandList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetBrandListShoesNetSoapHeader" part="ShoesNetSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCount">
      <soap12:operation soapAction="http://tempuri.org/GetProductCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProductCountShoesNetSoapHeader" part="ShoesNetSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductList">
      <soap12:operation soapAction="http://tempuri.org/GetProductList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProductListShoesNetSoapHeader" part="ShoesNetSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductInfo">
      <soap12:operation soapAction="http://tempuri.org/GetProductInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProductInfoShoesNetSoapHeader" part="ShoesNetSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShoesNet">
    <wsdl:port name="ShoesNetSoap" binding="tns:ShoesNetSoap">
      <soap:address location="http://api.taoxie.com/shoesnet.asmx" />
    </wsdl:port>
    <wsdl:port name="ShoesNetSoap12" binding="tns:ShoesNetSoap12">
      <soap12:address location="http://api.taoxie.com/shoesnet.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>